<%= tag.error_messages %>
<%= image_tag @tag.icon.url(:max_300) %>
<%= tag.file_field :icon, label: t('.icon'), class: "span6" %>
<%= tag.check_box :bestoff, label:  t(".bestoff") %>

<div class="form-actions">
  <%= tag.button t(".save"), class:  "btn btn-large btn-primary" %>
</div>

